In [1]:
# Imports
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from scipy import stats
import pandas as pd
import numpy as np
import os

In [2]:
dataFrame = pd.read_csv('data/data.csv', sep=';', decimal=",")

In [3]:
dataFrame.describe()

,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
count,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.0,2126.000000,...,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000
mean,878.439793,1702.877234,2.722484,7.241298,3.659925,1.570085,0.003293,0.126058,0.0,133.303857,...,-0.950141,-0.923801,-0.932267,-0.687676,-0.762935,-0.899341,-0.935089,-0.814675,4.509878,1.304327
std,894.084748,930.919143,3.560850,37.125309,2.847094,2.499229,0.057300,0.464361,0.0,9.840844,...,0.311894,0.382964,0.361856,0.726188,0.646627,0.437350,0.354495,0.580054,3.026883,0.614377
min,0.000000,287.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,106.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,1.000000
25%,55.000000,1009.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,126.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2.000000,1.000000
50%,538.000000,1241.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.0,133.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4.000000,1.000000
75%,1521.000000,2434.750000,4.000000,2.000000,5.000000,3.000000,0.000000,0.000000,0.0,140.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,7.000000,1.000000
max,3296.000000,3599.000000,26.000000,564.000000,23.000000,16.000000,1.000000,4.000000,0.0,160.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,3.000000

In [4]:
# print(dataFrame.dtypes)

dataFrame['duration'] = dataFrame['e'] - dataFrame['b']
dataFrame = dataFrame.drop(['b', 'e'], axis=1)
dataFrame = dataFrame[['duration'] + dataFrame.columns.tolist()[:-1]]
dataFrame.describe()

,duration,AC,FM,UC,DL,DS,DP,DR,LB,AC.1,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
count,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.0,2126.000000,2126.000000,...,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000
mean,824.437441,2.722484,7.241298,3.659925,1.570085,0.003293,0.126058,0.0,133.303857,0.003178,...,-0.950141,-0.923801,-0.932267,-0.687676,-0.762935,-0.899341,-0.935089,-0.814675,4.509878,1.304327
std,305.054024,3.560850,37.125309,2.847094,2.499229,0.057300,0.464361,0.0,9.840844,0.003866,...,0.311894,0.382964,0.361856,0.726188,0.646627,0.437350,0.354495,0.580054,3.026883,0.614377
min,117.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,106.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,1.000000
25%,613.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,126.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2.000000,1.000000
50%,799.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.0,133.000000,0.002000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4.000000,1.000000
75%,1041.000000,4.000000,2.000000,5.000000,3.000000,0.000000,0.000000,0.0,140.000000,0.006000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,7.000000,1.000000
max,3599.000000,26.000000,564.000000,23.000000,16.000000,1.000000,4.000000,0.0,160.000000,0.019000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,3.000000

In [5]:
#Commenting a line results in not normalizing that attribute
normalized_columns = ['AC', 
                      'FM', 
                      'UC', 
                      'DL', 
                      'DS', 
                      'DP', 
                      'DR', 
                      'LB', 
                      'AC.1',
                      'FM.1', 
                      'UC.1', 
                      'DL.1', 
                      'DS.1', 
                      'DP.1', 
                      'ASTV', 
                      'MSTV', 
                      'ALTV', 
                      'MLTV',
                      'Width', 
                      'Min', 
                      'Max', 
                      'Nmax', 
                      'Nzeros', 
                      'Mode', 
                      'Mean', 
                      'Median',
                      'Variance', 
                      'Tendency' 
                      #'A', 
                      #'B', 
                      #'C', 
                      #'D', 
                      #'E', 
                      #'AD', 
                      #'DE', 
                      #'LD', 
                      #'FS',
                      #'SUSP'
                     ]

# Normalize the data
scaler = MinMaxScaler()
dataFrame[normalized_columns] = pd.DataFrame(data=scaler.fit_transform(dataFrame[normalized_columns]))

In [6]:
dataFrame.head(10)

,duration,AC,FM,UC,DL,DS,DP,DR,LB,AC.1,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
0,117,0.000000,0.0,0.000000,0.0000,0.0,0.0,0.0,0.259259,0.000000,...,-1,-1,-1,-1,-1,-1,1,-1,9,2
1,627,0.153846,0.0,0.173913,0.1250,0.0,0.0,0.0,0.481481,0.315789,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
2,602,0.076923,0.0,0.217391,0.1250,0.0,0.0,0.0,0.500000,0.157895,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
3,781,0.076923,0.0,0.260870,0.1250,0.0,0.0,0.0,0.518519,0.157895,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
4,614,0.153846,0.0,0.217391,0.0000,0.0,0.0,0.0,0.481481,0.368421,...,-1,-1,-1,-1,-1,-1,-1,-1,2,1
5,953,0.038462,0.0,0.434783,0.5625,0.0,0.5,0.0,0.518519,0.052632,...,-1,-1,-1,-1,-1,1,-1,-1,8,3
6,713,0.038462,0.0,0.391304,0.3750,0.0,0.5,0.0,0.518519,0.052632,...,-1,-1,-1,-1,-1,1,-1,-1,8,3
7,617,0.000000,0.0,0.000000,0.0000,0.0,0.0,0.0,0.296296,0.000000,...,-1,-1,-1,-1,-1,-1,1,-1,9,3
8,659,0.000000,0.0,0.043478,0.0000,0.0,0.0,0.0,0.296296,0.000000,...,-1,-1,-1,-1,-1,-1,1,-1,9,3
9,1011,0.000000,0.0,0.130435,0.0000,0.0,0.0,0.0,0.296296,0.000000,...,-1,-1,-1,-1,-1,-1,1,-1,9,3

In [7]:
dataFrame.columns

Index(['duration', 'AC', 'FM', 'UC', 'DL', 'DS', 'DP', 'DR', 'LB', 'AC.1',
       'FM.1', 'UC.1', 'DL.1', 'DS.1', 'DP.1', 'ASTV', 'MSTV', 'ALTV', 'MLTV',
       'Width', 'Min', 'Max', 'Nmax', 'Nzeros', 'Mode', 'Mean', 'Median',
       'Variance', 'Tendency', 'A', 'B', 'C', 'D', 'E', 'AD', 'DE', 'LD', 'FS',
       'SUSP', 'CLASS', 'NSP'],
      dtype='object')

In [9]:
# Keep only the columns we want
#Commenting a line results in not keeping that attribute
column_list = [#'duration', 
               #'AC', 
               #'FM', 
               #'UC', 
               #'DL', 
               #'DS', 
               #'DP', 
               #'DR', 
               'LB', 
               'AC.1',
               'FM.1', 
               'UC.1', 
               'DL.1', 
               'DS.1', 
               'DP.1', 
               'ASTV', 
               'MSTV', 
               'ALTV', 
               'MLTV',
               'Width', 
               'Min', 
               'Max', 
               'Nmax', 
               'Nzeros', 
               'Mode', 
               'Mean', 
               'Median',
               'Variance', 
               'Tendency', 
               #'A', 
               #'B', 
               #'C', 
               #'D', 
               #'E', 
               #'AD', 
               #'DE', 
               #'LD', 
               #'FS',
               #'SUSP', 
               'CLASS', 
               #'NSP'
                    ]

dataFrame = dataFrame[column_list]

file_name = input()
dataFrame.to_csv(r'data/p/' + file_name + '.csv', index=False)

Class_23_attributes